header {
    
    text-align: center;
    width: 100%;
}
#datos{
    
    float: left;
    width: 25%;
}
#parte1{
    
    float: right;
    width: 75%;
}
#parte2{
    
    float: right;
    width: 75%;
}
.columna{
    
    float: left;
    width: 33%;
}
