
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    padding: 0;
}


body{
    background-color: rgb(32, 87, 189);
}
.header{
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 2% 2%;
}

.header .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.header .logo img{
    height: 70px;
    display: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header nav{
    order: 1;
}
.header .nav-links{
    list-style: none;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:nth-child(1){
    padding: 0 20px 0;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: rgb(17, 8, 8);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgba(22, 95, 34, 0.767);
}

.header .btn{
    order: 2;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 9px 20px;
    background: rgba(30, 131, 46, 0.815);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.header .btn button:hover{
    background-color: rgba(22, 95, 34, 0.767);
    transform: scale(1.1);
}

.flex-container{
    
    
    padding: 0px;
    display: flex;
    
    width: 75%;
    margin: left;
    
}

img{
width: 100%;
}

.caja{
    
    background-color: white;
    width: 100%;
    height: auto;
    
    
    
}

.c1{
    background-color: white;
    
}
.c2{
    background-color: white;
    text-align: left;
    margin: 10px;
    padding: 40px;

}
.c3{
    color: white;
    background-color: rgb(221, 18, 228);
    vertical-align: middle;
    text-align: center;
    padding: 50px;
    
    
    
}
.lista-derecha{
    background-color: rgb(48, 179, 240);
    margin: 0;
    padding: 30px;
    width: 400px;
    height: 250px;
    
}